.discounts {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #ffffff;
  color: #000000;
}

.discounts h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
}

.discounts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.discounts__card {
  padding-top: 41px;
  padding-left: 45px;
  padding-bottom: 42px;
  padding-right: 315px;
  background-color: #ed0233;
  background-image: url("../img/actions-pic-desk@1x.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 280px 462px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/actions-pic-desk@2x.jpg");
  }
}

.discounts__card h3 {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
}

.discounts__card b {
  display: block;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  color: #ffffff;
}

.discounts__card p {
  margin: 0;
  margin-bottom: 188px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  max-width: 200px;
}

.discounts__card a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    border-bottom: 1px dashed #ffffff;
  }

  &:active {
    opacity: 0.6;
    border-bottom: 1px dashed #ffffff;
  }
}

.discounts__small-card-gradient-border {
  padding: 7px;
  margin-bottom: 40px;
  width: 560px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #d10a42, #00359f);

  &:last-child {
    margin-bottom: 0;
  }
}

.discounts__small-card {
  padding-top: 21px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 26px;
  background: #ffffff;
}

.discounts__small-card h3 {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1c3374;
}

.discounts__small-card p {
  margin: 0;
  margin-bottom: 67px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1c3374;
}

.discounts__small-card a {
  padding-bottom: 1px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1c3374;
  border-bottom: 1px solid #1c3374;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    border-bottom: 1px dashed #1c3374;
  }

  &:active {
    opacity: 0.6;
    border-bottom: 1px dashed #1c3374;
  }
}

@media (max-width: $tab-width) {
  .discounts {
    padding-top: 101px;
    padding-bottom: 30px;
  }

  .discounts h2 {
    margin-bottom: 39px;
    font-size: 42px;
    line-height: 42px;
  }

  .discounts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }

  .discounts__card {
    padding-bottom: 43px;
    margin-bottom: 30px;
    background-image: url("../img/actions-pic-tab@1x.jpg");
    background-size: 399px 462px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/actions-pic-tab@2x.jpg");
    }
  }

  .discounts__small-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .discounts__small-card-gradient-border {
    margin-bottom: 20px;
    width: 324px;

    &:last-child {
      margin-bottom: auto;
    }
  }

  .discounts__small-card--left {
    padding-bottom: 25px;
    padding-right: 80px;
  }

  .discounts__small-card--right {
    padding-bottom: 25px;
    padding-right: 20px;
  }

  .discounts__small-card h3 {
    margin-bottom: 7px;
  }

  .discounts__small-card p {
    margin-bottom: 46px;
  }

  .discounts__small-card--right p {
    margin-bottom: 68px;
  }
}

@media (max-width: $mob-width) {
  .discounts {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .discounts h2 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }

  .discounts__card p {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    max-width: none;
  }

  .discounts__card b {
    margin-bottom: 12px;
  }

  .discounts__card {
    text-align: center;
    width: 100%;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 42px;
    padding-bottom: 341px;
    margin-bottom: 30px;
    background-image: url("../img/actions-pic-mob@1x.jpg");
    background-size: 290px 299px;
    background-position: center bottom;
    box-sizing: border-box;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/actions-pic-mob@2x.jpg");
    }
  }

  .discounts__small-card-gradient-border {
    margin-bottom: 30px;
    width: 100%;
  }

  .discounts__small-card {
    text-align: center;
    padding: 32px;
    padding-bottom: 37px;
  }

  .discounts__small-card h3 {
    margin-bottom: 8px;
  }

  .discounts__small-card p {
    margin: 0 auto;
    margin-bottom: 22px;
    max-width: 160px;
  }
}
